doctype html

html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Image to ASCII
    meta(name='twitter:image' content='https://image-to-ascii.now.sh/image-to-ascii.png')
    meta(property='og:image' content='https://image-to-ascii.now.sh/image-to-ascii.png')
    script(src='index.js' defer)
    link(rel='stylesheet' href='./index.styl')
  body
    h1 Image to ASCII
    .container
      .fields
        .field
          label(for='imgInput') Image
          input.js-input(type='text' id='imgInput' value='https://image-to-ascii.now.sh/gopher.png')
        .field
          label(for='typeOption') Output
          .with-icon
            select.js-input(name='typeOption' id='typeOption')
              option(value='ascii') ASCII
              option(value='png') PNG
              option(value='jpg' selected) JPG
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24')
              polyline(points='6 9 12 15 18 9')
        .field
          button.js-button Generate
        .field
          .note
            p.hide#js-copied Copied to your clipboard!
      .result
        pre#ascii
        img(src='./assets/gopher-ascii.jpeg' id='imgResult')
        .hide.ph-item.js-loading
          .ph-col-12
            .ph-picture
    footer
      h2 What is this?
      p This is a service that generate ascii image.
      p Find out how it work 
        | 
        a(href='https://github.com/sophearak/image-to-ascii') GitHub
      small Proudly hosted on
        | 
        a(href='https://zeit.co/now') ▲ZEIT Now